.App {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #dddddd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content-row {
  display: grid;
  grid-template-columns: 64vw 34vw;
  column-gap: 20px;
}

.chart {
  background-color: white;
  border-radius: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

.chart-title {
  color: #7f91af;
  font-size: 26px;
  font-weight: 600;
  margin-top: 24px;
}

.chart-header {
  margin: 10px 0 20px 80px;
  display: grid;
  grid-template-columns: 40% auto;
}

.chart-general-details {
  display: grid;
  margin-right: 40px;
  grid-template-columns: 48% 48%;
  column-gap: 2%;
}

.detail-value {
  color: #666666;
  text-align: left;
  font-size: 25px;
  font-weight: 700;
}

.detail-info {
  color: #999999;
  font-size: 15px;
  font-weight: 600;
}

.select-network {
  font-size: 23px;
  position: absolute;
  background-color: #ffe9e9;
  height: 100%;
  color: #666666;
  cursor: pointer;
}

.select-network:hover {
  background-color: #fff2f2;
  color: rgb(156, 108, 108);
}

#turn-left-network {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin-left: -20px;
}

#turn-right-network {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  right: 0;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

.disks-io-charts {
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 1% black;
  margin-left: 15px;
}

.all-drives-chart {
  display: grid;
  grid-template-columns: 18% 78%;
  column-gap: 4%;
  margin: 10px;
}

.bar-percent-chart {
  background-color: #f1f1f1;
  width: 90%;
}

.chart-child-title {
  font-size: 20px;
  color: #498bc5;
  font-weight: 600;
  margin-bottom: 30px;
}

.all-drives-chart-title {
  color: #6b7389;
  font-weight: 600;
}

.stat-all-drives {
  font-size: 22px;
  margin-top: 30px;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.bar-chart {
  width: 90%;
  display: grid;
  grid-template-columns: 85% 13%;
  column-gap: 2%;
}